@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Prompt';
    font-weight: 300;
}

body {
    background-color: #000;
}

.container {
    position: absolute;
    height: 736px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


h2 {
    margin-top: 25px;
    font-size: 40px;
    color: rgb(224, 57, 45);
}

p {
    margin-top: 30px;
    font-size: 16px;
    color: rgb(224, 57, 45);
}
input[type="radio"]{
    display: none;
}
label{
    position: relative;
    color: crimson;
    font-size: 25px;
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    cursor: pointer;
    align-items: center;

}
label:before{
    content: "";
    height: 30px;
    width: 30px;
    border: 3px solid crimson;
    border-radius: 50%;
    margin-right: 20px;
}
input[type="radio"]:checked + label{
    background-color: crimson;
    color: black;
}
input[type="radio"]:checked + label:before{
    height: 16px;
    width: 16px;
    border: 10px solid black;
    background-color: crimson;
}
.btn {
    padding: 10px 25px;
    border-radius: 25px;
}